@model MagazinJocuriVideo.Models.ClientiModels

@{
    ViewBag.Title = "DetailsClient";
}
<style>
    th, td {
        text-align: center;
        padding-left: 35px;
    }

    .DivCentrat {
        display: flex;
        justify-content: center;
    }
</style>

<h2 style="text-align:center;">Detalii client</h2>
<br />
<div class="DivCentrat">
    <table style="text-align:center; font-size:15px; ">
        <tr>
            <th>
                Nume
            </th>
            <th>
                Prenume
            </th>
            <th>
                Telefon
            </th>
            <th>
                Email
            </th>
            <th>
                Adresa
            </th>
        </tr>
        <tr>
            <td>
                @Html.DisplayFor(model => model.Nume)
            </td>
            <td>
                @Html.DisplayFor(model => model.Prenume)
            </td>
            <td>
                @Html.DisplayFor(model => model.Telefon)
            </td>
            <td>
                @Html.DisplayFor(model => model.Email)
            </td>
            <td>
                @Html.DisplayFor(model => model.Adresa)
            </td>
        </tr>

    </table>
</div>
<br />
<p style=" font-size: 25px;">
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdClient })
<p style="text-align:right; font-size:25px; margin-top:-50px;">
    @Html.ActionLink("Back to List", "Index")
</p>
</p>

