@model MagazinJocuriVideo.Models.ProdusModels

@{
    ViewBag.Title = "DeleteProdus";
}
<style>
    th, td {
        text-align: center;
        padding-left: 35px;
    }

    .center-block {
        
    }

    
</style>

<h2 style="text-align:center;">Stergere produs</h2>

<h3 style="text-align:center;">Sigur doriti sa stergeti acest produs?</h3>
<hr />
<div class="center-block">


    <table style="text-align:center; font-size:15px; ">
        <tr>
            <th>
                Nume_Produs
            </th>
            <th colspan="5">
                Descriere
            </th>
            <th>
                Pret
            </th>
            <th>
                Nume Imagine
            </th>
        </tr>
        <tr>
            <td>
                @Html.DisplayFor(model => model.NumeProdus)
            </td>
            <td  colspan="5" style="text-align:center;">
                @Html.DisplayFor(model => model.Descriere)
            </td>
            
            <td>
                @Html.DisplayFor(model => model.Pret) EURO
            </td>
            <td>
                <img src="~/Poze/@Model.NumeImagine" width="350" height="250" />
            </td>
        </tr>
    </table>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color" style="padding-left:40%;">
            <input type="submit" value="Delete" class="btn btn-danger" />
        </div>
    }

</div>
@Html.ActionLink("Back to List", "Index")