
@model MagazinJocuriVideo.Models.ProdusModels

@{
    ViewBag.Title = Model.NumeProdus;
}

<style>
    th, td {
        text-align: center;
        padding-left: 35px;
    }
    .DivCentrat {
        display: flex;
        justify-content: center;
    }
</style>

<h2 style="text-align:center;">@Html.DisplayFor(model => model.NumeProdus)</h2>
<div class="DivCentrat">
    <table style="text-align:center; font-size:15px; ">
        <tr>
            <th>
                Nume_Produs
            </th>
            <th colspan="5">
                Descriere
            </th>
            <th>
                Pret
            </th>
            <th>
                Nume Imagine
            </th>
        </tr>
        <tr>
            <td>
                @Html.DisplayFor(model => model.NumeProdus)
            </td>
            <td colspan="5" style="text-align:center;">
                @Html.DisplayFor(model => model.Descriere)
            </td>

            <td>
                @Html.DisplayFor(model => model.Pret) EURO
            </td>
            <td>
                <img src="~/Poze/@Model.NumeImagine" width="350" height="250" />
            </td>
        </tr>
    </table>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new {  id = Model.CodProdusId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
