@model IEnumerable<MagazinJocuriVideo.Models.ProdusModels>

@{
    ViewBag.Title = "Index";
}
<style>
    th, td {
        text-align: center;
    }

    p {
        text-align: center;
    }

    .bordura {
        border-bottom: 1px solid #000;
    }
</style>
<h2 style="text-align:center;">Jocuri</h2>

@if (User.IsInRole("Admin"))
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}

<table class="table">
    <tr style="font-size:20px;">
        <th>
            @Html.DisplayNameFor(model => model.NumeProdus)
        </th>
        <!--  <th>
            @Html.DisplayNameFor(model => model.Descriere)
        </th>-->
        <th>
            @Html.DisplayNameFor(model => model.Pret)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr style="font-size:25px;">
            <td>
                @Html.DisplayFor(modelItem => item.NumeProdus)
                <br />
                <img src="~/Poze/@item.NumeImagine" width="350" height="250" />
            </td>
            <!-- <td >
                 @Html.DisplayFor(modelItem => item.Descriere)
             </td>-->
            <td style="font-size:35px;">
                <br />
                <br />
                @Html.DisplayFor(modelItem => item.Pret) EURO
            </td>
            <td style="font-size:20px;">

                <br />
                <br />

                @if (User.IsInRole("User"))
                {
                    @Html.ActionLink("Details", "Details", new { id = item.CodProdusId })
                    <br />
                    @Html.ActionLink("Adauga in Cos", "Create", "CosCumparaturi", new { id = item.CodProdusId }, null)
                }
                @if (User.IsInRole("Admin"))
                {
                    @Html.ActionLink("Edit", "Edit", new { id = item.CodProdusId })
                    <br />
                    @Html.ActionLink("Details", "Details", new { id = item.CodProdusId })
                    <br />
                    @Html.ActionLink("Delete", "Delete", new { id = item.CodProdusId })
                    <br />
                    @Html.ActionLink("Adauga in Cos", "Create", "CosCumparaturi", new { id = item.CodProdusId }, null)
                }


            </td>
        </tr>

    }

</table>
