@model IEnumerable<MagazinJocuriVideo.Models.ProdusModels>

@{
    ViewBag.Title = "Index";
}
<style>
    th,tr
    {
        text-align:center;
    }
</style>
<h2 style="text-align:center;">Jocuri</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NumeProdus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descriere)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pret)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NumeProdus)
                <br />
               <img src="~/Poze/@item.NumeImagine" width="350" height="250"/>
            </td>
            <td >
                @Html.DisplayFor(modelItem => item.Descriere)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pret)
            </td>
            <td>
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.CodProdusId }) |
                @Html.ActionLink("Details", "Details", new { id = item.CodProdusId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.CodProdusId }) |
                @Html.ActionLink("Adauga in Cos", "Create", "CosCumparaturi", new { id = item.CodProdusId },null)
            </td>
        </tr>
        <hr />
    }

</table>
