@model MagazinJocuriVideo.Models.DetaliiIstoricFacturaModels

@{
    ViewBag.Title = "DetailsFactura";
}
<style>
    .TabelCentru {
        color: green;
    }
    th, td {
        padding-left: 15px;
        padding-right: 15px;
        text-align: center;
        font-size: 18px;
    }
</style>
<h2>DetailsFactura</h2>

<div>
    <h4>DetaliiIstoricFacturaModels</h4>
    <hr />
    <div class="TabelCentru">
        <table>
            <tr>
                <th>
                    <b>@Html.DisplayNameFor(model => model.Adresa)</b>
                </th>
                <th>
                    <b> @Html.DisplayNameFor(model => model.Data)</b>
                </th>
                <th>
                    <b>  @Html.DisplayNameFor(model => model.Total)</b>
                </th>
            </tr>
            <tr>
                <td>
                    @Html.DisplayFor(model => model.Adresa)
                </td>

                <td>
                    @Html.DisplayFor(model => model.Data)
                </td>

                <td>
                    @Html.DisplayFor(model => model.Total)
                </td>
            </tr>
        </table>
    </div>
    <br />
    
    @foreach (var item in Model.ProduseCumparate())
    {
        
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NumeProdus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DescriereProdus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pret)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumeImagine)
            </td>
        </tr>
        <br />
    }
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
