@model IEnumerable<MagazinJocuriVideo.Models.FacturaModels>

@{
    ViewBag.Title = "Index";
}
<style>
    th, td {
        text-align: center;
    }

    p {
        text-align: center;
    }

    .bordura {
        border-bottom: 1px solid #000;
    }
</style>
<h2 style="text-align:center;">Istoric comenzi</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<br />
<table class="table">
    <tr>

        <th>
            Comanda
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Data)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalPlata)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IdFactura)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Data)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalPlata)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new {  id=item.IdFactura  }) |
            @Html.ActionLink("Details", "Details", new {  id=item.IdFactura }) |
            @Html.ActionLink("Delete", "Delete", new {  id=item.IdFactura })
        </td>
    </tr>
}

</table>
