@model MagazinJocuriVideo.Models.CosCumparaturiModels

@{
    ViewBag.Title = "EditCosCumparaturi";
}
<style>
    .form-horizontal {
        padding-left: 30%;
    }
</style>
<h2 style="text-align:center;">Editare</h2>
<br />
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
 

        <div class="form-group">
            @Html.LabelFor(model => model.Cantitate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Cantitate, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Cantitate, "", new { @class = "text-danger" })
            </div>
        </div>

        

        <div class="form-group " style="padding-left:10%;">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-danger" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
